:root {
    --main-color: #0009D4; /* Change color as needed */
    --color-dark: #1d2231;
    --text-grey: #8390a2;
    --green-but: #16a81b;
}

.notes {
    white-space: pre-wrap;
}

.recent-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Reservasi {
    width: 100%;
    max-width: 1200px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    /* background-color: var(--main-color); */
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0 0;
}

.card-header h3 {
    margin: 0;
    font-weight: 600;
}

.card-body {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}

th {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.status {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.status.pink {
    background-color: #ff5c75;
}

.scroll-container {
    max-height: 400px;
    overflow-y: auto;
}

.card-body ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-body ol li {
    margin-bottom: 5px;
}
