@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::-webkit-scrollbar {
    display: none;
}

/* Root */
:root {
    --primary-color: #01204E;
    --secondary-color: #028391;
    --thrid-color: #F6DCAC;
    --forth-color: #FAA968;
    --fifth-color: #F85525;
    --aditional-color : #FFBF00;
    --font-white: #fff;
    --font-black: #000;
    --box-shadow: 0 2px 4px;
    --section-bg-color: rgba(255, 255, 255, 0.3);
}

/* Section */

section.up-event{
    height: 680px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}

section{
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

/* Event Up */

#background-event {
<<<<<<< HEAD
    background-image:url('/img/akasha/img10.jpeg');
=======
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0)),
    url('/img/6.png');
>>>>>>> parent of c7d7ae7 (registrasi_event_done)
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 50px;
}

/* Content Upcoming */

.event-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 10px;
}

.title, .sub-topic, .date, .status-bayar{
    margin-top: 5px;
    margin-bottom: 20px;
    color: var(--header-color);
}

.title{
<<<<<<< HEAD
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    justify-items: center;
=======
    margin-top: 50px;
>>>>>>> parent of c7d7ae7 (registrasi_event_done)
}

.title h1{
    font-size: 120px;
    color: var(--font-white);
    font-weight: bold;
<<<<<<< HEAD
    /* text-shadow: 2px 2px var(--thrid-color); */
}

.title h2{
    font-size: 120px;
    font-weight: bold;
    color: var(--font-white);
    /* text-shadow: 2px 2px var(--primary-color); */
=======
>>>>>>> parent of c7d7ae7 (registrasi_event_done)
}

.sub-topic h5 {
    /* border: 1px solid red; */
    font-size: 30px;
    font-weight: 600;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.date{
<<<<<<< HEAD
    margin-top: 10px;
    margin-bottom: 40px;
}

.date h2{
    /* margin-top: 0px; */
    font-size: 40px;
    /* font-size: 100px; */
    font-weight: bold;
    color: var(--font-white);
    /* text-shadow: 2px 2px var(--primary-color); */
=======
    margin-top: 50px;
}

.date h2{
    margin-top: 20px;
    font-size: 70px;
>>>>>>> parent of c7d7ae7 (registrasi_event_done)
}

.button-description {
    color: var(--header-color);
    font-weight: bold;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
<<<<<<< HEAD
    background-color: var(--primary-color);
=======
    background-color: var(--thrid-color);
>>>>>>> parent of c7d7ae7 (registrasi_event_done)
    /* border: 1px none; */
    border: none;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s;
    /* margin-top: 50px; */
}

.button-description a{
    text-decoration: none;
}

.button-description h5 {
<<<<<<< HEAD
    color: var(--font-white);
=======
    color: var(--secondary-color);
>>>>>>> parent of c7d7ae7 (registrasi_event_done)
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}

.button-description:hover {
    background-color: var(--secondary-color);
}

/* Event Done */
.prev-event {
    text-align: center;
    margin-bottom: 50px !important;
}

.prev-event h1 {
    font-weight: bolder;
    font-size: 48px;
    color: var(--primary-color);
}

.no-event {
    margin-top: 150px;
}

.no-event h1 {
    font-size: 64px;
    color: var(--fifth-color);
}

.no-event h2 {
    font-size: 24px;
    color: var(--secondary-color);
}

.grid-container {
    margin-bottom: 100px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusted min width */
    gap: 2rem; /* Increased gap */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    border-radius: 20px;
    margin: auto;
    width: 100%;
    max-width: 300px; /* Adjusted max width */
    box-shadow: var(--box-shadow);
    overflow: hidden;
    background-color: var(--font-white);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px; /* Adjusted height */
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-body h1 {
    font-weight: 700;
    font-size: 20px; /* Adjusted font size */
    color: var(--primary-color);
    margin-bottom: 10px;
}

.card-body h5 {
    font-size: 14px; /* Adjusted font size */
    color: var(--primary-color);
    margin-bottom: 10px;
}

.button-description2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s;
}

.button-description2 a {
    text-decoration: none;
}

.button-description2 h5 {
    color: var(--font-white);
    margin: 0;
    font-weight: 700;
}

.button-description2:hover {
    background-color: var(--secondary-color);
}
