@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::-webkit-scrollbar {
    display: none;
}

/* Root */
:root {
    --primary-color: #01204E;
    --secondary-color: #028391;
    --thrid-color: #F6DCAC;
    --forth-color: #FAA968;
    --fifth-color: #F85525;
    --font-white: #fff;
    --font-black: #000;
    --box-shadow: 0 1px 1px;
    --section-bg-color: rgba(255, 255, 255, 0.3);
}


div.container {
    width: 100%;
}

.section-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 100%;
}

.section-title h2 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 60px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.section-title h2::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}

.menu-column {
    flex-basis: 22%;
    margin: 0 20px;
    width: auto;
    height: auto;
    padding: 10px;
}

.menu-column h4 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.menu-column h4::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
}

.single-menu {
    margin-bottom: 20px;
}

.menu-name span {
    color: var(--primary-color);
    float: left;
    font-weight: 600;
    font-style: italic;
}

.card {
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
}

.card-img {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.menu-name {
    flex-grow: 1;
    padding: 0 10px;
    max-height: 60px !important;
    margin: 10px 0;
}

.menu-name h5 {
    font-size: 20px !important;
    font-weight: bold !important;
}

hr {
    font-weight: bold;
}

.menu-desc {
    padding: 0 10px;
}

.best-seller{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: var(--box-shadow);
}

.best-seller h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: var(--font-white);
}

.best-seller-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.best-seller-card {
    width: 300px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.best-seller-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.badge {
    top: 10px;
    margin-top: 25px;
    left: 10px;
    background-color: var(--secondary-color);
    color: var(--font-white) !important;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
