
:root{
    --primary-color: #03045E;
    --secondary-color: #023E8A;
    --thrid-color: #CAF0F8;
    --header-color: #FFFF;
    --font-color: black;
    --box-shadow: 0 2px 4px var(--primary-color);
}

/* Existing styles */
.navbar.bg-body-tertiary {
    position: fixed !important;
    background-color: var(--primary-color) !important;
    border-bottom: #f2f2f2;
    box-shadow: 0 5px 10px var(--secondary-color) !important;
    width: 100%;
    top: 0%;
    z-index: 999;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 50px;
}

.navbar-brand a {
    text-decoration: none;
    color: var(--header-color) !important;
}

.navbar-brand a:hover {
    font-weight: bolder;
}

.container-fluid {
    margin: none;
    padding: 0 !important;
}

.menu {
    justify-content: center;
    margin-right: 50px;
    padding-right: 0px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    font-weight: 500;
    display: inline-block;
    margin: 0 10px;
    position: relative; /* Add this */
}

.menu a {
    font-weight: 600;
    color: var(--header-color);
    text-decoration: none;
}

.menu a:hover {
    font-weight: 700;
}

/* Dropdown menu */
ul li ul.dropdown {
    position: absolute;
    top: 100%; /* Add this */
    /* left: 0; Add this */
    background: none;
    width: 200px; /* Change as needed */
    display: none; /* Hide by default */
    list-style: none;
    /* padding: 0; */
    /* padding-top: 10px; */
    padding: none;
    margin: 0;
    width: 120px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}

ul li ul.dropdown li {
    display: block; /* Display block to take full width */
    /* margin-bottom: 5px; */
    margin: none;
    padding: none;
}

ul li ul.dropdown li a {
    display: block; /* Add this */
    padding: 10px;
    margin: none;
    color: var(--header-color);
    text-decoration: none; /* Add this */
    background: var(--primary-color);
}

ul li ul.dropdown li a:hover {
    /* background: var(--primary-color); Change as needed */
    color: white;
    font-weight: bold;
}

/* Show the dropdown on hover */
.menu li:hover > ul.dropdown {
    display: block;
}

li.profile {
    width: 120px;
    background-color: black;
    display: flex; /* Add this */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

li.profile a {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Add this to make the text visible on black background */
}

li.profile ul{
    background: none;
}

.profile li{
    color: red;
    background-color: red;
}


/* Footer styles */
footer {
    margin-top: 50px;
    width: 100%;
    background-color: var(--primary-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.column {
    width: 190px;
    flex: 1;
    margin-right: 40px;
}

.column:last-child {
    margin-right: 0;
}

.column.left-align {
    text-align: left;
}

.column.right-align {
    text-align: right;
}

.logo img {
    max-height: 100px;
}

.column h4 {
    text-align: right;
    color: var(--header-color);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.alamat p {
    color: var(--header-color);
    font-size: 14px;
}

.contact p,
.sosial p {
    font-size: 14px;
    color: var(--header-color);
    margin: 5px 0;
}

.sosial img {
    width: 20px;
}

.sosial a {
    margin-right: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--header-color);
}

.sosial a:hover {
    font-weight: 600;
}

.column > .content {
    width: 40px;
    border: 1px solid red;
}

.fot-content {
    text-align: right;
    height: 85px;
}
