@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000&display=swap');

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::-webkit-scrollbar {
    display: none;
}

/* Root */
:root {
    --primary-color: #01204E;
    --secondary-color: #028391;
    --thrid-color: #F6DCAC;
    --forth-color: #FAA968;
    --fifth-color: #F85525;
    --font-white: #fff;
    --font-black: #000;
    --box-shadow: 0 2px 4px var(--primary-color);
}

/* Navbar */
.navbar.bg-body-tertiary {
    position: fixed !important;
    background-color: var(--primary-color) !important;
    border-bottom: #f2f2f2;
    box-shadow: 0 2.5px 5px var(--primary-color) !important;
    width: 100%;
    top: 0%;
    z-index: 999;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 50px;
}

.navbar-brand a {
    text-decoration: none;
    color: var(--font-white) !important;
}

.navbar-brand a:hover {
    font-weight: bolder;
}

.container-fluid {
    margin: none;
    padding: 0 !important;
}

.menu {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    padding-right: 0px;
    align-items: right;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: right;
}

.menu li {
    font-weight: 500;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    align-items: right;
}

.menu a {
    font-weight: 600;
    color: var(--font-white);
    text-decoration: none;
    align-items: right;
}

.menu a:hover {
    font-weight: 700;
}

/* Dropdown menu */
ul li ul.dropdown {
    position: absolute;
    top: 100%;
    background: none;
    width: 200px;
    display: none;
    list-style: none;
    padding: none;
    margin: 0;
    width: 120px;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Add transition */
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
}

ul li ul.dropdown li {
    display: block;
    margin: none;
    padding: none;
}

ul li ul.dropdown li a {
    display: block;
    padding: 10px;
    margin: none;
    color: var(--font-white);
    text-decoration: none;
    background: var(--primary-color);
}

ul li ul.dropdown li a:hover {
    color: var(--font-white);
    font-weight: bold;
}

/* Show the dropdown on hover */
.menu li:hover > ul.dropdown {
    display: block;
    opacity: 1; /* Show the dropdown */
    visibility: visible; /* Show the dropdown */
}

li.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.profile a {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-white);
}

li.profile ul {
    background: none;
}

/* Footer */
footer {
    width: 100%;
    background-color: var(--primary-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.column {
    width: 190px;
    flex: 1;
    margin-right: 40px;
}

.column:last-child {
    margin-right: 0;
}

.column.left-align {
    text-align: left;
}

.column.right-align {
    text-align: right;
}

.logo img {
    max-height: 100px;
}

.column h4 {
    text-align: right;
    color: var(--font-white);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.alamat p {
    color: var(--font-white);
    font-size: 14px;
}

.contact p,
.sosial p {
    font-size: 14px;
    color: var(--font-white);
    margin: 5px 0;
}

.sosial img {
    width: 20px;
}

.sosial a {
    margin-right: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--font-white);
}

.sosial a:hover {
    font-weight: 600;
}

.column > .content {
    width: 40px;
}

.fot-content {
    text-align: right;
    height: 85px;
}

.menu ul li {
    color: var(--font-white);
    font-weight: bolder;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar-nav {
        margin-left: auto;
    }

    .navbar-brand {
        margin-left: 10px;
    }

    .menu {
        margin-right: 10px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 5px 0;
        position: static;
    }

    .menu a {
        font-size: 14px;
    }

    ul li ul.dropdown {
        top: initial;
        left: 0;
        width: 100%;
        box-shadow: none;
    }

    ul li ul.dropdown li {
        margin: 0;
    }

    .profile {
        display: block;
        width: auto;
        margin: 5px 0;
    }

    .profile a {
        text-align: center;
    }

    .profile ul {
        position: static;
        background: none;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .column {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .column h4 {
        text-align: center;
    }
}
