@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat';
}

/* body */
body::-webkit-scrollbar {
    display: none;
}

/* Root */
:root {
    --primary-color: #01204E;
    --secondary-color: #028391;
    --third-color: #F6DCAC;
    --fourth-color: #FAA968;
    --fifth-color: #F85525;
    --font-white: #fff;
    --font-black: #000;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section */
section {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

/* Cerita Kami */
.header {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 60px;
}

.cerita {
    display: flex;
    margin-bottom: 50px;
}

.cerita-img {
    width: 50%;
    display: flex;
    align-items: center;
}

.cerita-content {
    width: 50%;
    display: flex;
    align-items: center;
}

.cerita-content h4 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 20px;
}

.cerita-img img {
    width: 100%;
    border-radius: 20px;
}

/* Our Barista */
h1.header.our-barista {
    text-align: center;
    font-size: 80px;
    margin-bottom: 50px;
}

.grid-container {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 20px;
    margin: auto;
    max-width: 300px;
    height: 400px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--font-white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-body {
    padding: 20px;
}

.card-text {
    text-align: center;
}

.barista h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.jobdesk h1 {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.deskripsi h1 {
    font-size: 16px;
    color: var(--font-black);
    font-style: italic;
    margin-top: 10px;
}
