.navbar.bg-body-tertiary{
    position:fixed !important;
    background-color: var(--primary-color) !important;
    border-bottom: #f2f2f2;
    box-shadow: 0 5px 10px var(--secondary-color) !important;
    width: 100%;
    top: 0%;
    z-index: 2;
}

.navbar-brand{
    font-weight: bold;
    margin-left: 50px;
}

.navbar-brand a{
    text-decoration: none;
    color: var(--header-color) !important;
}

.navbar-brand a:hover{
    font-weight: bolder;
}

.container-fluid{
    margin: none;
    padding: 0 !important;
}

.menu {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin-right: 50px;
    padding-right: 0px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    font-weight: 500;
    display: inline;
    margin: 0 10px;
}

.menu a {
    font-weight: 600;
    color: var(--header-color);
    text-decoration: none;
}
