/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family:'poppins';
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

/* Main Styles */
main {
    padding: 20px;
}

/* Cards Styles */
.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card-single {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    transition: all 0.3s ease;
}

.card-single:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-single h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-single span {
    font-size: 18px;
    color: #555;
}

.event-card {
    background-color: #ffc107; /* Update with your preferred color */
    color: #fff;
}

/* Recent Grid Styles */
.recent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* Card Styles inside Recent Grid */
.Event .card,
.Coffee .card,
.NonCoffee .card,
.Signature .card,
.Reservasi .card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
